body {
  margin: 0;
  font-family: "Myriad Pro", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fff;
  color: rgb(59, 153, 255);
}

.background_title{
  background-image: url("C:/учеба/сети/website/scripts/resources/background_title.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-left: 10%;
  margin-right:10%;
}
.logo {
  width: 30%; 
  height: auto;
}

.menu-button {
  background-image: url("C:/учеба/сети/website/scripts/resources/Menu.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: white;
  width: 60px;  
  height: 60px; 
  border-radius: 50%; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
}

.button {
  border-width: 4.167px;
  border-color: rgb(255, 255, 255);
  border-style: dotted;
  border-radius: 30px;
  background-color: rgb(253, 253, 253);
  opacity: 0.349;
  font-family: "Myriad Pro", sans-serif;
  font-size: medium;
  color:black;
  text-decoration: none;
}
.button:hover {
  background-color: rgb(59, 153, 255);
  border-color: rgb(23, 33, 146);
  text-decoration: none;
}

.title2{
  position: relative;
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(59, 153, 255);
  line-height: 1.2;
  margin-left: 10%;
  margin-right:10%;
}

.button_container{
  margin-bottom: 10%;
  margin-top:10%;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right:15%;
  text-align: justify;
  font-size: medium;
}
.flex-container img {
  max-width: 100%;
  height: auto;
  margin-left:5%;
  margin-right: 5%;
}
.triangle{
  width:15px;
  height:15px;
  background-image: url("C:\учеба\сети\website\scripts\resources\Triangle.png");
  margin: 0;
}

.img2{
  width:200px;
  height:200px;
  margin-left:5px;
  margin-right:5px;
}

.subtitle2{
  color: rgb(59, 153, 255);
  font-family: "Muriad Pro", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}

.background3{
  background-image: url("C:/учеба/сети/website/scripts/resources/background3.png");
  background-position: center;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-left: 10%;
  margin-right:10%;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 90%;
  margin-right:10%;
  margin-left: 5%;
  padding-bottom: 5%;
  padding-top:5%;
}

.flex-container2 img {
  width: auto; 
  margin: 3%;
  transition: transform 0.3s;
}

.oval{
  margin-bottom: 5%;
  align-items: center;
  background-image: url("C:/учеба/сети/website/scripts/resources/oval.png");
  background-position-x: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.social_networks{
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  width: 50px;

}

/* Адаптивные стили */
@media (max-width: 1200px){

  .logo{
    width: 30%; 
  }

  .menu-button{
    width: 50px;
    height: 50px;
  }
  .oval{
    background-size: cover;
    background-position-x: center;
  }
}

@media (max-width: 1000px){
  .logo{
    width: 40%; 
  }

  .menu-button{
    width: 40px;
    height: 40px;
  }
  .oval{
    background-size: cover;
    background-position-x: center;
  }
}

@media (max-width: 600px) {

  .logo{
    width: 50%; 
  }

  .menu-button{
    width: 30px;
    height: 30px;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
}
.oval{
  background-size: cover;
  background-position-x: center;
}
}


